<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test Knockout Backbone</title>
    <!-- build:css -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->
    <!-- build:js -->
    <script src="~/src/app/require.config.js"></script>
    <script data-main="src/app/startup" src="~/Scripts/require.js"></script>
    <!-- endbuild -->
</head>
<body>
    @RenderBody()
</body>
</html>
