<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PersistenceContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS; Database=LucAdmTest; Trusted_Connection=true" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="Port" value="3600" />
    <add key="MSBuildPath" value="C:\Program Files (x86)\MSBuild\12.0\Bin\amd64\MSBuild.exe" />
    <add key="Configuration" value="Debug" />
    <add key="WwwRootPath" value="C:\inetpub\wwwroot\LucAdmTest" />
    <add key="IISExpressPath" value="C:\Program Files\IIS Express\iisexpress.exe" />
    <add key="SeleniumServerPath" value="C:\Core\selenium-server-standalone-2.45.0.jar" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>